* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ramaraja', serif;
}

p {
    font-family: 'Ramaraja', serif;
}

h1 {

    font-family: 'Ramaraja', serif;
}

ul {
    font-family: 'Ramaraja', serif;
}

table {
    font-family: 'Ramaraja', serif;
}


.f {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    line-height: 30px;
}

.one {
    font-size: 24px;
    margin-top: 20px;
    padding: 15px;
    color: black;
}

.tool {
    font-size: 24px;
    margin-top: 50px;
    padding: 15px;
    color: black;
}

h4 {
    color: black;
}

.two {
    font-size: 24px;
    margin-top: 50px;
    padding: 15px;
    color: black;
}

.three {
    font-size: 24px;
    margin-top: 20px;
    padding: 15px;
    color: black;
    margin-bottom: 30px;
}

.four {
    font-size: 24px;
    margin-top: 20px;
    padding: 15px;
    color: black;
}

.five {
    font-size: 20px;
    padding: 15px;
    color: black;
    margin-bottom: 30px;
    margin-left: 20px;
}

.six {
    font-size: 24px;
    padding: 15px;
    color: black;
    margin-bottom: 30px;
}

.seven {
    font-size: 24px;
    margin-top: 20px;
    padding: 15px;
    color: black;
}

.eight {
    font-size: 20px;
    padding: 15px;
    color: black;
    margin-left: 20px;
}

.nine {
    font-size: 24px;
    padding: 15px;
    color: black;
    margin-bottom: 30px;
}

h1 {
    padding: 15px;
    margin-top: 20px;
}

#bmi {
    font-size: 30px;
    line-height: 100px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 50px;
    color: black;
    background-color: yellow;
    text-align: center;
    margin-left: 30px;
    border-radius: 30px;
    text-shadow: 0 0 0 2px black;
}

#bmi:hover {
    text-shadow: 2px 2px 2px 5px black;
    scale: 1.03;
    transition: .4s;
    box-shadow: 2px 2px 2px 5px yellow;
}

.ten {
    margin-top: 100px;
    margin-left: 40px;
}

::selection {
    background-color: black;
    color: gold;
}

#Cedvel {
    margin-top: 50px;
}

.c {
    text-align: center;
    margin-bottom: 34px;
}